<header>
    <h1>Hello World</h1>
</header>

<div>
    {{input type="text" value=name placeholder="Vaše jméno pane?"}}
    <div>
        <p>Moje jméno je <strong>{{name}}</strong> a chci napsat reálnou Ember.js aplikaci!</p>
    </div>
</div>