<div class="container">
    <h1>Ember.js</h1>
    <hr/>
    {{view Vetreserv.ButtonView text="Stiskni mě!"
        type="danger" size="lg" icon="star" action="handleClick"
        isLoadingBinding=isLoading
        loadingText="Krutopřísný výpočet ...."}}
</div>